In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

In [2]:
# Using SQLAlchemy
table = 'vw_Sales'
engine_cloud = create_engine('mssql+pyodbc://localhost\SQLEXPRESS/Product_Database?driver=SQL+Server+Native+Client+11.0')
df = pd.read_sql_table(table,engine_cloud.connect())
df

,Order_ID,Product,Quantity,Unit_Price,Revenue,Date,Time,Street Number,City,State,Zip Code
0,141234,iPhone,1,700.00,700.00,2019-01-22,21:25:00,944 Walnut St,Boston,MA,02215
1,141235,Lightning Charging Cable,1,14.95,14.95,2019-01-28,14:15:00,185 Maple St,Portland,OR,97035
2,141236,Wired Headphones,2,11.99,23.98,2019-01-17,13:33:00,538 Adams St,San Francisco,CA,94016
3,141237,27in FHD Monitor,1,149.99,149.99,2019-01-05,20:33:00,738 10th St,Los Angeles,CA,90001
4,141238,Wired Headphones,1,11.99,11.99,2019-01-25,11:59:00,387 10th St,Austin,TX,73301
...,...,...,...,...,...,...,...,...,...,...,...
185634,319666,Lightning Charging Cable,1,14.95,14.95,2019-12-11,20:58:00,14 Madison St,San Francisco,CA,94016
185635,319667,AA Batteries (4-pack),2,3.84,7.68,2019-12-01,12:01:00,549 Willow St,Los Angeles,CA,90001
185636,319668,Vareebadd Phone,1,400.00,400.00,2019-12-09,06:43:00,273 Wilson St,Seattle,WA,98101
185637,319669,Wired Headphones,1,11.99,11.99,2019-12-03,10:39:00,778 River St,Dallas,TX,75001
185638,319670,Bose SoundSport Headphones,1,99.99,99.99,2019-12-21,21:45:00,747 Chestnut St,Los Angeles,CA,90001

In [3]:
df.isna().sum()             
df[df.duplicated() == True]

Empty DataFrame
Columns: [Order_ID, Product, Quantity, Unit_Price, Revenue, Date, Time, Street Number, City, State, Zip Code]
Index: []